<div class="footer">
    <div class="left">
        <div class="head">Get in Touch</div>
        <div class="det">care@mistmiddle.com</div><br>
        <div class="head">Toll Free:</div>
        <div class="det">2548-9618-47</div><br>
        <div class="head">Social Handles</div>
        <div class="det">2548-9618-47</div><br>
    </div>
    <div class="middle">
        <div routerLink="/about-us" class="det link">About Us</div>
        <div class="det link">Organic and Quality certificate</div>
        <div class="det link">Meet the Farmers</div>
        <div class="det link">Refund Policy</div>
        <div class="det link">Term of Service</div>
        <div class="det link">Order Tracking</div>
        <div class="det link">Privacy Policy</div>
        <div class="det link">Our Herbs</div>
    </div>
    <div class="right">
        <div class="head">Subscribe to our monthly newsletter</div>
        <div class="det p-inputgroup">
            <input type="text" pInputText placeholder="example@email.com" />
            <button type="button" pButton label="Subscribe"></button>
        </div><br>
        <div class="det link">Contact Us</div>
        <div class="det link">Join Us</div>
        <div class="det link">CSR Policy</div>
        <div class="det link">Press/News</div>
        <div class="det link">FAQs</div>
    </div>
</div>
