* {
  font-family: 'Trispace', sans-serif;
  font-weight: 300;
}

*:host ::ng-deep {

  .banner {
    height: 190px;
    position: relative;
  }

  .banner img {
    position: absolute;
    right: 0;
    object-fit: contain;
  }

  h2 {
    color: #39ba6c;
  }

  .heading {
    position: absolute;
    margin-left: 10%;
  }

  h2,
  h4 {
    font-family: 'Trispace';
    font-weight: 500;
  }

  .content-wraper {
    padding: 20px 50px;
    width: 100vw;
    display: flex;

    .filter {
      width: 25%;

      .p-fieldset {
        height: fit-content;
        position: sticky;
        top: 10px;

        .p-divider-horizontal {
          padding: 0;
          margin: 10px 0;
        }

        .p-fieldset-legend {
          background: #39ba6c;
          color: aliceblue;
          padding: 15px 20px;
          font-weight: 500;
        }

        .p-fieldset-content {
          padding: 0 0 20px 0 !important;

          .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .ng-star-inserted {
            padding: 5px 0 5px 30px;

            label {
              margin-left: 10px;
            }
          }
        }

      }
    }

    .product-wraper {
      width: 75%;
      padding: 0 20px 50px;

      .p-dropdown-items-wrapper {
        max-height: 250px !important;
      }

      .paginator {
        position: sticky;
        top: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .page {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;


        .p-card {
          margin-bottom: 20px;
          height: 500px;
          background-size: cover;

          &:hover {
            cursor: pointer;
            background-image: none !important;

            .p-card-body .p-card-content p {
              opacity: 1;
            }
          }

          .p-card-body {
            color: #000;
            text-align: center;

            .p-card-title,
            .p-card-subtitle {
              background: #fff;
              border-radius: 10px;
            }

            .p-card-content {
              max-height: 350px;

              p {
                opacity: 0;
                height: 300px;
                overflow: hidden !important;

                strong {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }


}


@keyframes bouncy {

  from,
  to {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.95);
  }
}
