<header>
    <span routerLink="home" class="link"><img src="/assets/temp/Mist Middle.png" alt="mist middle logo"></span>
    <nav>
        <span routerLink="blogs" class="link">Blog<i class="pi pi-angle-down"></i></span>
        <span routerLink="products" class="link">Products</span>
        <span routerLink="products" class="link">Combo Offer</span>
        <span routerLink="products" class="link">Shop by Category</span>
    </nav>
    <div class="actions">
        <span>Login/Register</span>
        <span><i class="pi pi-heart"></i></span>
        <span><i class="pi pi-shopping-bag"></i></span>
    </div>
</header>
