<div class="banner">
    <div class="heading">
        <h2>Catchy Title</h2>
        <h4>Home>Blogs</h4>
    </div>
    <img src="/assets/temp/productCarl{{rand}}.jpg" alt="Description for Image 1" class="product-image" />
</div>
<div class="content-wraper">
    <div class="filter">
        <p-fieldset legend="Top Readings">
            <p-listbox [options]="PopularBlogs" (onChange)="navigateToBlog(selectedBlog)" [(ngModel)]="selectedBlog"
                optionLabel="title">
            </p-listbox>
        </p-fieldset>
    </div>
    <div class="blog-container">
        <div class="blog">
            <p-card [header]=blog.title *ngFor=" let blog of Blogs" (click)="navigateToBlog(blog)">
                <ng-template pTemplate="subheader">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" width="100%" />
                </ng-template>
                <p>
                    {{blog.content}}... <span style="font-weight: 600;">read more</span>
                </p>
            </p-card>
        </div>
    </div>
</div>
